<div class="col-12 col-lg-6">
  <h3 class="dash-container-heading">My Pokemons</h3>
  <div class="dash-container" id="discover-new" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://freepngimg.com/thumb/pokemon/37475-6-pikachu-transparent-image.png)">
    <div id="discover-new-content">
      <h1>Do You Want to Rent Out Your Pokemon?</h1>
      <div><%= link_to "Add New Pokemon", new_pokemon_path, class: "btn btn-primary"%></div>
    </div>
  </div>
</div>

<div class="col-12 col-lg-6">
  <h3 class="dash-container-heading">My Pokemon Bookings</h3>
  <div class="dash-container">
    <% bookings.each do |booking|%>
    <% if booking.pokemon.pokemon_class == "water" %>
      <figure class="card card--water">
      <% elsif booking.pokemon.pokemon_class == "fire" %>
      <figure class="card card--fire">
        <% elsif booking.pokemon.pokemon_class == "electro" %>
      <figure class="card card--electric">
        <% elsif booking.pokemon.pokemon_class == "rock" %>
      <figure class="card card--normal">
        <% elsif booking.pokemon.pokemon_class == "poison" %>
      <figure class="card card--dark">
        <% elsif booking.pokemon.pokemon_class == "fairy" %>
      <figure class="card card--fairy">
        <% elsif booking.pokemon.pokemon_class == "grass" %>
      <figure class="card card--grass">
        <% elsif booking.pokemon.pokemon_class == "ground" %>
      <figure class="card card--normal">
        <% elsif booking.pokemon.pokemon_class == "normal" %>
      <figure class="card card--ice">
        <% else booking.pokemon.pokemon_class == "bug" %>
      <figure class="card card--psychic">
    <% end %>

        <div class="card__image-container">
          <%= cl_image_tag booking.pokemon.photo.key, crop: :fill, class:"card__image" %>
        </div>

        <figcaption class="card__caption">
          <h1 class="card__name"><%= link_to booking.pokemon.name, pokemon_path(booking.pokemon) %></h1>
          <h3 class="card__type"><%= booking.pokemon.pokemon_class %></h3>
        <table class="card__stats">
          <tbody>
           <tr>
            <th>From:</th>
            <td><%= booking.start_date %></td>
          </tr>
          <tr>
            <th>Till:</th>
            <td><%= booking.end_date%></td>
          </tr>
          <tr>
            <th>Owner:</th>
            <td></td>
          </tr>
        </tbody></table>
        </figcaption>
      </figure>
  <% end %>
  <div><%= link_to "Discover New Pokemon", root_path, class: "btn btn-primary"%></div>
  </div>
</div>
