  <header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/sword-shield/pokemon-in-the-wild.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">Catch them all!</h1>
          <p class="lead mb-0"></p>
          <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
            <div class="search-form-control form-group d-flex">
                <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Which pokemon are you looking for?" />
                <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Check-in" />
                <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Check-out" />
                <button name="button" type="submit" class="btn btn-flat">
                  <i class="fas fa-search"></i> <%= link_to "Search", pokemons_path %>
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

<div class="background-color">
    <div class="cards">
    <% @pokemons.each do |pokemon| %>
    <%= link_to pokemon_path(pokemon), class: "cards-text" do %>
     <% if pokemon.pokemon_class == "water" %>
        <figure class="card card--water">
      <% elsif pokemon.pokemon_class == "fire" %>
        <figure class="card card--fire">
      <% elsif pokemon.pokemon_class == "electro" %>
        <figure class="card card--electric">
      <% elsif pokemon.pokemon_class == "rock" %>
        <figure class="card card--normal">
      <% elsif pokemon.pokemon_class == "poison" %>
        <figure class="card card--dark">
      <% elsif pokemon.pokemon_class == "fairy" %>
        <figure class="card card--fairy">
      <% elsif pokemon.pokemon_class == "grass" %>
        <figure class="card card--grass">
      <% elsif pokemon.pokemon_class == "ground" %>
        <figure class="card card--normal">
      <% elsif pokemon.pokemon_class == "normal" %>
        <figure class="card card--ice">
      <% else pokemon.pokemon_class == "bug" %>
        <figure class="card card--psychic">
      <% end %>

      <div class="card__image-container">
        <%= cl_image_tag pokemon.photo.key, crop: :fill, class:"card__image" %>
      </div>
      <figcaption class="card__caption">

        <h1 class="card__name"><%= pokemon.name %></h1>

        <h3 class="card__type">
         <%= pokemon.pokemon_class %>
        </h3>

        <table class="card__stats">
          <tbody>
          <tr>
            <th class="description"><%= pokemon.description%></th>
          </tr>
        </tbody></table>

        <div class="card__abilities">
          <h4 class="card__ability">
            <span class="card__label">Ability</span>
            Absorb
          </h4>
          <h4 class="card__ability">
            <span class="card__label">Price</span>
            € <%= pokemon.price_per_day %>
          </h4>
        </div>
      </figcaption>
    </figure>
    <% end %>
    <% end %>
  </div>
</div>
