<div class="background-new">
<%= simple_form_for @pokemon do |f| %>
<figure class="card card--normal">
  <div class="card__image-container">
    <%= f.input :photo, as: :file, label: false %>
  </div>

  <figcaption class="card__caption">
    <h1 class="card__name">
      <%= f.input :name, label: false, :input_html => { :style=> "width: 100px; border-radius: 5px"}, :placeholder => "Edit" %>
    </h1>

    <h3 class="card__type">
      <%= f.input :pokemon_class, label: false, :input_html => { :style=> "width: 100px; border-radius: 5px"}, :placeholder => "Edit" %>
    </h3>

    <table class="card__stats">
      <tbody><tr>
        <%= f.input :description, label: false, :placeholder => "Edit", :input_html => { :style=> "width: 270px; border-radius: 5px"} %>
    </tbody></table>

    <div class="card__abilities">
      <h4 class="card__ability">
        <span class="card__label"></span>
        <%= f.submit '', class: 'btn-pokemon-new'%>
      </h4>
      <h4 class="card__ability">
        <span class="card__label">
        </span>
        <%= f.input :price_per_day, label: false, :placeholder => "Edit", :input_html => { :style=> "width: 120px; border-radius: 5px"}%>
      </h4>
    </div>
  </figcaption>
</figure>
<% end %>
</div>
