<h1>Edit Pokemon</h1>

<%= simple_form_for @pokemon do |f| %>
  <%= f.input :name %>
  <%= f.input :pokemon_class %>
  <%= f.input :description %>
  <%= f.input :price_per_day %>
  <%= f.submit %>
<% end %>
