<div class="background-show">


  <div class="row">
    <div class="col-12 col-lg-6">
      <h2 class="title-show mt-5">Pokemon in Amsterdam</h2>
      <%= form_tag pokemons_path, method: :get, class: "search-bar" do %>
      <div class="wrapper d-flex mt-3">
        <%= text_field_tag :query,
        params[:query],
        placeholder: "Find a pokemon"
        %>
        <%= submit_tag "Search", class: "button-home" %>
      </div>
      <% end %>

      <div class="container2">
        <div class="pokemon-cards cards-index">
          <% @pokemons.each do |pokemon| %>
          <%= link_to pokemon_path(pokemon), class: "poke-link" do %>
          <% if pokemon.pokemon_class == "water" %>
          <figure class="card card--water index-card">
            <% elsif pokemon.pokemon_class == "fire" %>
            <figure class="card card--fire index-card">
              <% elsif pokemon.pokemon_class == "electro" %>
              <figure class="card card--electric index-card">
                <% elsif pokemon.pokemon_class == "rock" %>
                <figure class="card card--normal index-card">
                  <% elsif pokemon.pokemon_class == "poison" %>
                  <figure class="card card--dark index-card">
                    <% elsif pokemon.pokemon_class == "fairy" %>
                    <figure class="card card--fairy index-card">
                      <% elsif pokemon.pokemon_class == "grass" %>
                      <figure class="card card--grass index-card">
                        <% elsif pokemon.pokemon_class == "ground" %>
                        <figure class="card card--normal index-card">
                          <% elsif pokemon.pokemon_class == "normal" %>
                          <figure class="card card--ice index-card">
                            <% else pokemon.pokemon_class == "bug" %>
                            <figure class="card card--psychic index-card">
                              <% end %>

                              <%# This indentation with the figure ending ending way later looks very funny? Ask tomorrow. %>

                              <div class="pokemon-card-item">
                                <div class= "pokemon-card-img" style="background-image: url('<%= cl_image_path pokemon.photo.key %>')"></div>
                                <div class="name"><%= pokemon.name %></div>
                                <div class="description"><i class="fas fa-bolt index-icon-class"></i> <%= pokemon.pokemon_class %></div>
                                <div class="owner">By <%= pokemon.user.first_name %></div>
                                <div class="address"><i class="fas fa-home index-icon-home"></i> <%= pokemon.user.address %></div>
                                <div class="price"><%= pokemon.price_per_day %> € / day</div>
                              </div>


                            </figure>
                            <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-lg-6">
                        <div id="map"
                        style="width: 50vw; height: 100vh; position: sticky; top: 0;"
                        data-markers="<%= @markers.to_json %>"
                        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
                      </div>
                    </div>
                  </div>
                </div>
