<div class="container">
  <h2 id="search-results">Pokemons in Amsterdam</h2>
  <div class="row">


    <div class="col-12 col-lg-7">

      <% @pokemons.each do |pokemon| %>
      <div class="pokemon-card-item">
        <div class="pokemon-card-img">
          <%= cl_image_tag pokemon.photo.key, crop: :fill %>
        </div>

        <div>
          <div class="name"><%= link_to pokemon.name, pokemon_path(pokemon) %></div>
          <div class="description"><%= pokemon.pokemon_class %></div>
        </div>

        <div class="price"><%= pokemon.price_per_day %> €</div>
      </div>
      <% end %>

    </div>

    <div class="col-12 col-lg-5">
      <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>

  </div>

  </div>
</div>
