<div class="container">
  <h2 id="search-results">Pokemons in Amsterdam</h2>
  <div class="row">


    <div class="col-12 col-lg-7">
      <div class="pokemon-cards">
        <% @pokemons.each do |pokemon| %>
        <% if pokemon.kind.name == "water" %>
            <figure class="card card--water">
          <% elsif pokemon.kind.name == "fire" %>
            <figure class="card card--fire">
          <% elsif pokemon.kind.name == "electro" %>
            <figure class="card card--electric">
          <% elsif pokemon.kind.name == "rock" %>
            <figure class="card card--normal">
          <% elsif pokemon.kind.name == "poison" %>
            <figure class="card card--dark">
          <% elsif pokemon.kind.name == "fairy" %>
            <figure class="card card--fairy">
          <% elsif pokemon.kind.name == "grass" %>
            <figure class="card card--grass">
          <% elsif pokemon.kind.name == "ground" %>
            <figure class="card card--normal">
          <% elsif pokemon.kind.name == "normal" %>
            <figure class="card card--ice">
          <% else pokemon.kind.name == "bug" %>
            <figure class="card card--psychic">
        <% end %>


            <div class="pokemon-card-item">
              <div class="pokemon-card-img">
                <%= cl_image_tag pokemon.photo.key, crop: :fill %>
              </div>

              <div>
                <div class="name"><%= link_to pokemon.name, pokemon_path(pokemon) %></div>
                <div class="description"><%= pokemon.kind.name %></div>
              </div>

              <div class="price"><%= pokemon.price_per_day %> €</div>
            </div>
          </figure>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-5">
      <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
</div>
