<div class="background-show">
  <div class="container2">


<div class="pokemon-results">
  <div class="pokemon-container">
    <h2><%= @pokemon.name %></h2>
    <p><i><%= @pokemon.kind.name %></i></p>
    <p><%= @pokemon.description%></p>
    <p>Price: <%= @pokemon.price_per_day %>
    <p>Address: <%= @pokemon.user.address %></p>
    <p>Owner: <%= @pokemon.user.first_name %> <%= @pokemon.user.last_name %></p>
  </div>
  <div class="pokemon-photo">
    <%= cl_image_tag @pokemon.photo.key %>
  </div>

      <div class="map-results">
        <p>Map results show here!</p>
      </div>
        <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
        <%= simple_form_for [@pokemon, @booking] do |f| %>
          <%= f.input :start_date, as: :string, required: false, input_html: { id: "range_start" } %>
          <%= f.input :end_date, as: :string, required: false, input_html: { id: "range_end" } %>
          <%= f.button :submit, "Book", class: "btn btn-danger" %>
        <% end %>
        </div>
    </div>
  </div>
</div>

