<h1><%= @pokemon.name %></h1>

<div class="pokemon-results">
  <div class="pokemon-container">
    <%= @pokemon.description %>
    <%= @pokemon.pokemon_class %>
    <%= @pokemon.price_per_day %>
    <%= @pokemon.user.address %>
  </div>
  <div class="pokemon-photo">
    <%= cl_image_tag @pokemon.photo.key %>
  </div>

  <div class="map-results">
    <p>Map results show here!</p>
  </div>
</div>

<%= simple_form_for [@pokemon, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit %>
  <% end %>

<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Check rental price</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <%= @pokemon.name %>
        <%= @booking.start_date %>
        <%= @booking.end_date %>
        <%= @booking.total_price %>

      </div>
    </div>
  </div>
</div>