<div class="background-show">
  <div class="map-results-container ">
    <div class="col-12 col-lg-6">

      <div class="flex-container">


            <div class="pokemon-container">
              <div class="main-poke-container"></div>
              <%= cl_image_tag @pokemon.photo.key, class: "pokemon-photo" %>
              <h2 class="poke-name"><%= @pokemon.name %></h2>
              <p class="poke-class"><i class="fas fa-bolt show-icon-class"></i> <i><%= @pokemon.pokemon_class %></i></p>
              <p class="poke-description"><%= @pokemon.description%></p>
              <p class="poke-price"><%= @pokemon.price_per_day %> € per day</p>
              <p class="poke-address"><i class="fas fa-home show-icon-home"></i> <%= @pokemon.user.address %></p>
              <p class="poke-owner">By <%= @pokemon.user.first_name %> <%= @pokemon.user.last_name %></p>
              <p><%= link_to "Read reviews", pokemon_pokemon_reviews_path(@pokemon) %></p>
            </div>

          <div class="form-wrapper" style="width: 200px; margin: 0 auto;">
            <%= simple_form_for [@pokemon, @booking] do |f| %>
              <%= f.input :start_date, as: :string, required: false, input_html: { id: "range_start" } %>
              <%= f.input :end_date, as: :string, required: false, input_html: { id: "range_end" } %>
              <div class="buttons-booking">
                <%= f.button :submit, "Book", class: "btn-poke-squared" %>
                <%= link_to "Back", pokemons_path, class: "btn-poke-squared mt-3 back-btn" %>
              </div>
            <% end %>
          </div>

      </div>
    </div>
    <div class="col-12 col-lg-6 position: sticky;">
      <div id='map' style='width: 50vw; height: 100vh; position: sticky; top: 0;'></div>
      <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiYWNoZWVycyIsImEiOiJja2g3bnJobWUwOTB6MnBuenVuYW80emowIn0.9aQqGyFOHUbtAMoN9eCZIg';
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
        center: ["<%=@markers[:long]%>","<%=@markers[:lat]%>"], // starting position [lng, lat]
        zoom: 9 // starting zoom
        });
        map.addControl(new mapboxgl.NavigationControl(), "top-left");
var marker = new mapboxgl.Marker().setLngLat(["<%=@markers[:long]%>","<%=@markers[:lat]%>"]).addTo(map);
      </script>
    </div>
  </div>
</div>

