<!DOCTYPE html>
<html>
  <head>
    <title>PikaPikaMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
    <% unless current_page?(root_path) %>
    <%= render 'shared/navbar' %>
    <% end %>
    <%= yield %>
    <%= render 'shared/flashes' %>

    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-pikachu">
        <%= image_tag "Pikachu.png" %>
      </div>

      <div class="footer-copyright">
      Made with <i class="fas fa-heart"></i> from Pokélovers
      </div>
    </div>
  </body>
</html>
